html
  center
    form(action="http://localhost:3000/save" method="POST")
      input(type="text" id='ad' name='ad' placeholder="ad")
      br
      input(type="text" id='soyad' name='soyad' placeholder="soyad")
      br
      input(type="text" id='eposta' name='eposta' placeholder="e-posta")
      br
      input(type="password" id='sifre' name='sifre' placeholder="şifre")
      br
      br
      button(type='submit') GONDER