html
  center
    form(action="http://localhost:3000/kaydet" method="POST")
      input(type="text" id='baslik' name='baslik' placeholder="BASLIK GIR")
      br
      input(type="text" id='metin' name='metin' placeholder="METIN GIR")
      br
      br
      button(type='submit') GONDER